@charset "UTF-8";

body {
	background-color: cyan;
}

#form-design {
	border: 1px solid black;
	height: 500px;
	width: 500px;
	margin: 10px 0px 0px 200px
}

input {
	padding: 50px;
}

label {
	font-family: serif;
	font-size: large;
	font-weight: bold;
}

.btn {
	background-color: gray;
	width: 200px;
	height: 100px;
}